<div class="row-layout sitemap">
    <div class="column-layout group_6">
        <p class="typography__subtitle-2 text_1">
            Dirección
        </p>
        <p class="typography__body-2 text_1">
            De los semaforos de la Vicky 1 cuadra al Sur,
        </p>
        <p class="typography__body-2 text_1">
            Dahani Colectivo. Managua, Nicaragua.
        </p>
        <p class="typography__subtitle-2 text_2">
            Numerico Telefonico
        </p>
        <p class="typography__body-2 text_1">
            +505 8360 5530
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1">
            Ayuda
        </p>
        <p class="typography__body-2 text_1">
            Preguntas y Respuestas
        </p>
        <p class="typography__body-2 text_1">
            Delivery
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1">
            Acerca
        </p>
        <p class="typography__body-2 text_1">
            Nosotros
        </p>
        <p class="typography__body-2 text_1">
            Reseñas
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1">
            Siguenos
        </p>
        <p class="typography__body-2 text_1">
            Facebook
        </p>
        <p class="typography__body-2 text_1">
            Instagram
        </p>
    </div>
</div>
<footer class="row-layout footer">
    <p class="typography__body-2 text_3">
        Copyright ©2024 BlueMoon.com, Todos los derechos reservados.
    </p>
    <div class="row-layout group_8">
        <p class="typography__body-2 text_4">
            Terminos y Condiciones
        </p>
    </div>
</footer>