

<div class="row-layout sitemap background_prefooter">
    <div class="column-layout group_6">
        <p class="typography__subtitle-2 text_1 size_letra">
            Dirección
        </p>
        <p class="typography__body-2 text_1">
            <a href="https://maps.app.goo.gl/n5DMXZmdrhWFvNaS7" target="_blank" style="color: inherit; text-decoration:none">
                <span class="size_letra">De los semáforos de la Vicky 1 cuadra al Sur,</span><br />
                <span class="size_letra">Dahani Colectivo. Managua, Nicaragua.</span>
            </a>
        </p>
        <p class="typography__subtitle-2 text_2 size_letra">
            Numerico Telefonico
        </p><br />
        <p class="typography__body-2 text_1 size_letra" style="display: flex; align-items: center;">
            <i class="bi bi-whatsapp" style="font-size: 24px; color: green; margin-right: 16px; vertical-align: middle;"></i>
            <a href="https://wa.me/50583605530?text=Hola,%20quiero%20mas%20informacion" target="_blank" style="color: inherit; text-decoration: none; vertical-align: middle;">
                +505 8360 5530
            </a>
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1 size_letra" style="text-align: left;">
            Ayuda
        </p>
        <p class="typography__body-2 text_1 size_letra">
            Preguntas y Respuestas
        </p>
        <p class="typography__body-2 text_1 size_letra">
            Delivery
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1 size_letra" style="text-align: left;">
            Acerca
        </p>
        <p class="typography__body-2 text_1 size_letra">
            Nosotros
        </p>
        <p class="typography__body-2 text_1 size_letra">
            Reseñas
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1 size_letra" style="text-align: center;">
            Síguenos
        </p>
        <p class="typography__body-2 text_1 size_letra" style="display: flex; justify-content: center; align-items: center;">
            <a href="https://www.facebook.com/people/Perfumes-BlueMoon/61554733666570/" target="_blank" style="color: inherit; text-decoration: none; vertical-align: middle; margin-right: 16px;">
                <i class="bi bi-facebook" style="font-size: 24px; color: #3b5998;"></i>
            </a>
            <a href="https://www.instagram.com/perfumes_bluemoon?igsh=ZzdxbG55dTFmOGx2" target="_blank" style="color: inherit; text-decoration: none; vertical-align: middle;">
                <i class="bi bi-instagram" style="font-size: 24px; color: #E1306C;"></i>
            </a>
        </p>
    </div>
</div>
<footer class="row-layout footer textcolor_footer">
    <p class="typography__body-2 text_3">
        Copyright ©2024 BlueMoon.com, Todos los derechos reservados.
    </p>
    <div class="row-layout group_8">
        <p class="typography__body-2 text_4">
            Terminos y Condiciones
        </p>
    </div>
</footer>