<div class="row-layout sitemap">
    <div class="column-layout group_6">
        <p class="typography__subtitle-2 text_1 size_letra">
            Dirección
        </p><br />
        <p class="typography__body-2 text_1">
            <a href="https://maps.app.goo.gl/n5DMXZmdrhWFvNaS7" target="_blank" style="color: inherit; text-decoration: underline;">
                <span class="size_letra">De los semáforos de la Vicky 1 cuadra al Sur,</span><br />
                <span class="size_letra">Dahani Colectivo. Managua, Nicaragua.</span>
            </a>
        </p><br />
        <p class="typography__subtitle-2 text_2 size_letra">
            Numerico Telefonico
        </p><br>
        <p class="typography__body-2 text_1 size_letra">
            <a href="https://wa.me/50583605530?text=Hola,%20quiero%20mas%20informacion" target="_blank">
                +505 8360 5530
            </a>
            <i class="fab fa-whatsapp" style="font-size: 24px; color: green; margin-left:16px;"></i>
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1 size_letra" style="text-align: left;">
            Ayuda
        </p><br />
        <p class="typography__body-2 text_1 size_letra">
            Preguntas y Respuestas
        </p><br />
        <p class="typography__body-2 text_1 size_letra">
            Delivery
        </p>
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1 size_letra" style="text-align: left;">
            Acerca
        </p><br />
        <p class="typography__body-2 text_1 size_letra">
            Nosotros
        </p><br />
        <p class="typography__body-2 text_1 size_letra">
            Reseñas
        </p><br />
    </div>
    <div class="column-layout group_7">
        <p class="typography__subtitle-2 text_1 size_letra" style="text-align: center;">
            Siguenos
        </p><br />
        <p class="typography__body-2 text_1 size_letra">
            
            <a href="https://www.facebook.com/people/Perfumes-BlueMoon/61554733666570/" target="_blank" style="color: inherit; text-decoration: underline;">Facebook</a>
            <i class="fab fa-facebook" style="font-size: 24px; color: #3b5998; margin-left: 16px;"></i>
        </p><br />
        <p class="typography__body-2 text_1 size_letra">
            
            <a href="https://www.instagram.com/perfumes_bluemoon?igsh=ZzdxbG55dTFmOGx2" target="_blank" style="color: inherit; text-decoration: underline;">Instagram</a>
            <i class="fab fa-instagram" style="font-size: 24px; color: #E1306C; margin-left: 16px;"></i>
        </p>
    </div>
</div>
<footer class="row-layout footer">
    <p class="typography__body-2 text_3">
        Copyright ©2024 BlueMoon.com, Todos los derechos reservados.
    </p>
    <div class="row-layout group_8">
        <p class="typography__body-2 text_4">
            Terminos y Condiciones
        </p>
    </div>
</footer>