@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <Header/>

    <div class="view-container">
        @Body
    </div>
        
    <Footer />
</div>

@code {
    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
