.column-layout {
    display: flex;
    flex-direction: column;
}

.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    overflow: auto;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos el tamaño de la ventana */
    display: flex;
    flex-direction: column;
}

.row-layout {
    display: flex;
}

.group {
    border-color: hsla(var(--ig-gray-200));
    border-width: 0px 0px 1px;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    position: relative;
    padding: 0 24px 0 0;
    height: 71px;
    min-height: 71px;
    max-height: 71px;
    flex-shrink: 0;
}

.group_1 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;
    position: relative;
}

.group_2 {
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    margin: 0 0 0 8px;
    min-height: 50px;
}

.image {
    object-fit: none;
    width: 180px;
    height: 70px;
    min-width: 180px;
    min-height: 0;
    max-width: 180px;
    max-height: 70px;
    flex-shrink: 0;
}

.icon {
    color: hsla(var(--ig-secondary-400));
}

.button {
    --ig-size: var(--ig-size-medium);
    height: max-content;
    flex-shrink: 0;
}

    .button::part(base) {
        color: hsla(var(--ig-gray-700));
    }

.icon-button {
    --ig-size: var(--ig-size-small);
}

    .icon-button::part(base) {
        color: hsla(var(--ig-secondary-400));
    }

.view-container {
    position: relative;
    flex-grow: 1; /* Esto permite que el contenido ocupe el espacio restante */
    padding-bottom: 10%;
}

footer {
    margin-top: auto; /* Esto asegura que el footer se mantenga al fondo */
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
