@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <div class="row-layout group">
        <img src="assets/BlueMoon_logo-removebg-preview.png" @onclick="@(e => Navigate("/home"))" class="image" style="width: 100%; height: auto; object-fit: contain;" />
        <div class="row-layout group_1" style="margin-right: 5rem;">
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Navigate("/home"))" class="button" master_view-scope>
                Inicio
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" master_view-scope>
                Marcas
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" master_view-scope>
                Catalogo
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" master_view-scope>
                Promociones
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" master_view-scope>
                Contacto
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div class="row-layout group_2">
            <IgbIconButton Variant="IconButtonVariant.Flat" @onclick="@(e => Navigate("/shopping_cart"))" class="icon-button" master_view-scope>
                <span class="material-icons icon">
                    shopping_cart
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
        </div>
    </div>

    <div class="view-container">
        @Body
    </div>

    <footer>
        <Footer />
    </footer>
</div>

@code {
    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
