/*Carousel*/

.image-carousel {
    width: 100%;
    height: 100%;
}

.carousel__typography {
    color: black;
}

.carousel-item {
    background-color: black;
    height: 100%;
}

.half-colored {
    width: 100vw; /*Ancho del div*/
    height: 100vh; /*Alto del div*/
    background: linear-gradient(to right, white 50%, rgba(173, 216, 230, 0.8) 50%);
}