@using BlazorBootstrap

<Carousel ShowIndicators="true" Autoplay="CarouselAutoPlay.StartOnPageLoad" style="height: 90vh; background: linear-gradient(to right, white 50%, rgba(173, 216, 230, 0.8) 50%);
;">

    <CarouselItem Active="true" style="">
        <div class="row">
            <!-- Columna para el texto -->
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div style="text-align: center; width: 50%;">
                    <h2 class="carousel__typography">Aria by Ainash Parfums</h2>
                    <p class="carousel__typography">
                        2.5oz Extrait de Parfum In a glass bottle, the essence of sophistication unfolds. Our perfume begins with a burst of black currant, pink pepper, and bergamot,
                        a combination that awakens the senses with a bold touch. At its heart, an extraordinary floral bouquet, woven with jasmine.
                    </p>
                </div>
            </div>

            <!-- Columna para la imagen -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="">
                <img src="assets/F1.webp" style="width:70%;" />
            </div>
        </div>
    </CarouselItem>

    <CarouselItem Active="true" style="">
        <div class="row">
            <!-- Columna para el texto -->
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div style="text-align: center; width: 50%;">
                    <h2 class="carousel__typography">Aria by Ainash Parfums</h2>
                    <p class="carousel__typography">
                        2.5oz Extrait de Parfum In a glass bottle, the essence of sophistication unfolds. Our perfume begins with a burst of black currant, pink pepper, and bergamot,
                        a combination that awakens the senses with a bold touch. At its heart, an extraordinary floral bouquet, woven with jasmine.
                    </p>
                </div>
            </div>

            <!-- Columna para la imagen -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="">
                <img src="assets/F2.webp" style="width:70%;" />
            </div>
        </div>
    </CarouselItem>

    <CarouselItem Active="true" style="">
        <div class="row">
            <!-- Columna para el texto -->
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div style="text-align: center; width: 50%;">
                    <h2 class="carousel__typography">Aria by Ainash Parfums</h2>
                    <p class="carousel__typography">
                        2.5oz Extrait de Parfum In a glass bottle, the essence of sophistication unfolds. Our perfume begins with a burst of black currant, pink pepper, and bergamot,
                        a combination that awakens the senses with a bold touch. At its heart, an extraordinary floral bouquet, woven with jasmine.
                    </p>
                </div>
            </div>

            <!-- Columna para la imagen -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="">
                <img src="assets/F3.webp" style="width:70%;" />
            </div>
        </div>
    </CarouselItem>

</Carousel>