@using BlazorBootstrap

@using BlazorBootstrap

<Carousel ShowIndicators="true" Autoplay="CarouselAutoPlay.StartOnPageLoad" style="width: 100vw; height: 100vh;">

    <CarouselItem Active="true" style="width: 100%; height: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <!-- Columna para el texto -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div style="max-width: 400px; text-align: center;">
                    <h2 class="carousel__typography">Aria by Ainash Parfums</h2>
                    <p class="carousel__typography">
                        2.5oz Extrait de Parfum In a glass bottle, the essence of sophistication unfolds. Our perfume begins with a burst of black currant, pink pepper, and bergamot,
                        a combination that awakens the senses with a bold touch. At its heart, an extraordinary floral bouquet, woven with jasmine.
                    </p>
                </div>
            </div>

            <!-- Columna para la imagen -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <img src="assets/F1.webp" style="width: 80%; height: auto;" />
            </div>
        </div>
    </CarouselItem>

    <CarouselItem style="width: 100%; height: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <!-- Columna para el texto -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div style="max-width: 400px; text-align: center;">
                    <h2 class="carousel__typography">Aria by Ainash Parfums</h2>
                    <p class="carousel__typography">
                        2.5oz Extrait de Parfum In a glass bottle, the essence of sophistication unfolds. Our perfume begins with a burst of black currant, pink pepper, and bergamot,
                        a combination that awakens the senses with a bold touch. At its heart, an extraordinary floral bouquet, woven with jasmine.
                    </p>
                </div>
            </div>

            <!-- Columna para la imagen -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <img src="assets/F2.webp" style="width: 80%; height: auto;" />
            </div>
        </div>
    </CarouselItem>

    <CarouselItem style="width: 100%; height: 100%;">
        <div class="row" style="height: 100%; width: 100%;">
            <!-- Columna para el texto -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div style="max-width: 400px; text-align: center;">
                    <h2 class="carousel__typography">Aria by Ainash Parfums</h2>
                    <p class="carousel__typography">
                        2.5oz Extrait de Parfum In a glass bottle, the essence of sophistication unfolds. Our perfume begins with a burst of black currant, pink pepper, and bergamot,
                        a combination that awakens the senses with a bold touch. At its heart, an extraordinary floral bouquet, woven with jasmine.
                    </p>
                </div>
            </div>

            <!-- Columna para la imagen -->
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100vh;">
                <img src="assets/F3.webp" style="width: 80%; height: auto;" />
            </div>
        </div>
    </CarouselItem>

</Carousel>