.container {
    margin-bottom: 2rem;
}

.card-text {
    display: flex;
    gap: 0.5rem;
}

.btn {
    width: 100%;
    border-radius: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    height: 100%; /* Asegura que ocupe todo el espacio de la tarjeta */
}

@media (max-width: 600px) {
    /* Estos estilos solo se aplicarán si la ventana es de 600px o menor */
    .row > * {
        margin-bottom: 1rem;
    }
}