@page "/all_products"
@inject NavigationManager NavigationManager

@using System.Collections.Generic

<h3 style="margin: 3rem;">AHINASH Productos</h3>

<!-- #region Filtros -->
<div style="margin: 3rem;">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand">Filtro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Precio
                        </button>
                        <ul class="dropdown-menu dropdown-menu-white">
                            <li><a class="dropdown-item">0$ - 20$</a></li>
                            <li><a class="dropdown-item">20$ - 50$</a></li>
                            <li><a class="dropdown-item">50$ - 80$</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- #endregion -->

<!-- #region All Products -->

<div class="container">
    <div class="row">
        @foreach (var product in Products)
        {
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm h-100">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name" />
                    <div class="card-body">
                        <h6 class="card-title">@product.Name</h6>
                        <p class="card-text">
                            <span class="text-muted"><s>$@product.OldPrice USD</s></span>
                            <br />
                            <strong>$@product.Price USD</strong>
                        </p>
                        <div class="card-button">
                            @if (product.IsSoldOut)
                            {
                                <button class="btn btn-outline-secondary" disabled>Sold out</button>
                            }
                            else
                            {
                                <button class="btn btn-outline-primary">Add to cart</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- #endregion -->


@code {
    // List of products
    private List<Product> Products = new List<Product>
    {
        new Product { Name = "Athan by Ainash Parfums", Price = 58.50m, OldPrice = 90.00m, ImageUrl = "assets/F2.webp", IsSoldOut = true },
        new Product { Name = "Fleur De Paris by Ainash", Price = 58.50m, OldPrice = 90.00m, ImageUrl = "assets/F3.webp", IsSoldOut = false },
        new Product { Name = "Aria by Ainash Parfums", Price = 58.50m, OldPrice = 90.00m, ImageUrl = "assets/F4.webp", IsSoldOut = true },
        new Product { Name = "Royal Noir Absolu by Ainash", Price = 58.50m, OldPrice = 90.00m, ImageUrl = "assets/F5.webp", IsSoldOut = false }
    };

    // Product model
    public class Product
    {
        public string Name { get; set; }
        public decimal Price { get; set; }
        public decimal OldPrice { get; set; }
        public string ImageUrl { get; set; }
        public bool IsSoldOut { get; set; }
    }
}
