
.search-box {
    width: 100%; /* Ajusta al ancho disponible en el contenedor */
    max-width: 400px; /* Ajusta el ancho máximo si es necesario */
    padding: 10px; /* Añade algo de espacio interno */
    font-size: 16px; /* Ajusta el tamaño del texto */
    border: 1px solid rgba(255, 255, 255, 0.6); /* Bordes con transparencia */
    border-radius: 5px; /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con un 80% de opacidad */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una ligera sombra */
    margin-top: 15px; /* Espacio superior */
    color: #fff; /* Color del texto */
}

/* Container-Marcas */
/*.container-marcas{
    width: 100%;
    height: 10rem;
}

.container-marcas--row {
    display: flex;
    background-color
}

.container-marcas__card {
    margin: 0.8rem 0.5rem 0.5rem;
    width: 100%;
    height: 26rem;
    background-color: red;
    border: 2px solid black;
}*/

.card-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://via.placeholder.com/300x400');
    background-size: cover;
    background-position: center;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-sizing: border-box;
}

.card-title {
    margin: 0 0 10px 0;
}

.btn-animate {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.btn-animate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 0;
    transition: width 0.4s ease-in-out;
}

.btn-animate:hover::before {
    width: 100%;
}

.btn-animate:hover {
    color: black;
}

.btn-animate span {
    position: relative;
    z-index: 1;
}

.product-card {
    text-align: center;
    border: none; /* Sin bordes */
}

.product-image {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la imagen */
}

.product-info {
    margin-top: 10px;
}

.product-name {
    font-size: 1.1em;
    font-weight: bold;
}

.product-description {
    font-size: 0.9em;
    color: #777;
}

.product-price {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}