@page "/shopping_cart"

<div class="column-layout shopping-cart-container">
    <div class="column-layout page-content">
        <div class="column-layout inner-pages-header">
            @* <img src="assets/AutoDeals_Logo.svg" class="image" /> *@
            <p class="typography__body-1 text">
                Disfruta del descuento del 6% en las compras mayores de 3 productos
            </p>
        </div>
        <div class="row-layout content">
            <div class="column-layout group">
                <h5 class="content_5">
                    Carrito
                </h5>
                <div class="row-layout group_1">
                    <div class="column-layout group_2">
                        <IgbList class="list" shopping_cart-scope>
                            <IgbListItem>
                                <IgbAvatar Src="assets/Alternator1.jpg" slot="start" class="avatar" shopping_cart-scope></IgbAvatar>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_4">
                                            <p class="typography__body-1 content_1">
                                                Ainash One to Remember
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <span slot="end" class="material-icons icon">
                                    remove_shopping_cart
                                </span>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar Src="assets/Depositphotos_91150104_l-2015.jpg" slot="start" class="avatar" shopping_cart-scope></IgbAvatar>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_8">
                                            <p class="typography__body-1 text_5">
                                                Ainash Perfect Man
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $19.50
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <span slot="end" class="material-icons icon">
                                    remove_shopping_cart
                                </span>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar Src="assets/Depositphotos_114068560_l-2015.jpg" slot="start" class="avatar" shopping_cart-scope></IgbAvatar>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_8">
                                            <p class="typography__body-1 text_5">
                                                Ainash She is Love
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <span slot="end" class="material-icons icon">
                                    remove_shopping_cart
                                </span>
                            </IgbListItem>
                            @* <IgbListItem>
                                <IgbAvatar Src="assets/Depositphotos_20993125_l-2015.jpg" slot="start" class="avatar" shopping_cart-scope></IgbAvatar>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_4">
                                            <p class="typography__body-1 content_1">
                                                Oil Filter
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <span slot="end" class="material-icons icon">
                                    remove_shopping_cart
                                </span>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar Src="assets/Depositphotos_12011807_l-2015.jpg" slot="start" class="avatar" shopping_cart-scope></IgbAvatar>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_8">
                                            <p class="typography__body-1 text_5">
                                                Headlight Assembly
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" shopping_cart-scope>
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <span slot="end" class="material-icons icon">
                                    remove_shopping_cart
                                </span>
                            </IgbListItem> *@
                        </IgbList>
                    </div>
                    <div class="column-layout group_9">
                        <h6 class="content_1">
                            Total del Carrito
                        </h6>
                        <div class="column-layout group_10">
                            <div class="row-layout group_11">
                                <p class="typography__subtitle-2 content_2">
                                    Subtotal
                                </p>
                                <p class="typography__body-1 content_3">
                                    $198.30
                                </p>
                            </div>
                            <div class="row-layout group_11">
                                <p class="typography__subtitle-2 content_2">
                                    Envio
                                </p>
                                <p class="typography__body-1 content_3">
                                    $0
                                </p>
                            </div>
                            <div class="column-layout group_12">
                                <p class="typography__body-2 text_4">
                                    El envío se calculará al finalizar la compra.
                                </p>
                                <a class="typography__body-2 hyperlink">
                                    Estimar envío
                                </a>
                            </div>
                            <div class="row-layout group_11">
                                <h6 class="content_2">
                                    Total
                                </h6>
                                <h6 class="content_3">
                                    $198.30
                                </h6>
                            </div>
                        </div>
                        <div class="row-layout group_13">
                            <IgbButton Variant="ButtonVariant.Flat" class="button" shopping_cart-scope>
                                PROCEED TO CHECKOUT
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-layout sitemap">
            <div class="column-layout group_6">
                <p class="typography__subtitle-2 text_1">
                    Dirección
                </p>
                <p class="typography__body-2 text_1">
                    De los semaforos de la Vicky 1 cuadra al Sur,
                </p>
                <p class="typography__body-2 text_1">
                    Dahani Colectivo. Managua, Nicaragua.
                </p>
                <p class="typography__subtitle-2 text_2">
                    Numerico Telefonico
                </p>
                <p class="typography__body-2 text_1">
                    +505 8360 5530
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    Ayuda
                </p>
                <p class="typography__body-2 text_1">
                    Preguntas y Respuestas
                </p>
                <p class="typography__body-2 text_1">
                    Delivery
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    Acerca
                </p>
                <p class="typography__body-2 text_1">
                    Nosotros
                </p>
                <p class="typography__body-2 text_1">
                    Reseñas
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    Siguenos
                </p>
                <p class="typography__body-2 text_1">
                    Facebook
                </p>
                <p class="typography__body-2 text_1">
                    Instagram
                </p>
            </div>
        </div>
        <div class="row-layout footer">
            <p class="typography__body-2 text_3">
                Copyright ©2024 BlueMoon.com, Todos los derechos reservados.
            </p>
            <div class="row-layout group_8">
                <p class="typography__body-2 text_4">
                    Terminos y Condiciones
                </p>
            </div>
        </div>
    </div>
</div>

@code {
}
